*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/main\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.allcode{
    height: 1000px;
    width: 100%;

}

.header{
    height: 12%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    border-bottom: 1px #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100%;
    width: 33%;
    
}

.mainlogo {
    margin-top: -11%;
    margin-left: 20%;
    height: 250px;

}

.about_us{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.about_us a{
    color: aliceblue;
    text-decoration: none;
}

.fa-magnifying-glass {
    font-size: 35px;
    color: aliceblue;
}

.registration{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.registration i{
    font-size: 50px;
    color: rgb(220, 20, 20);
}

.encyclopedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty1{
    height: 100%;
    width: 5%;
}

.main_content{
    height: 100%;
    width: 70%;
}

.card1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.253);
    margin-bottom: 5%;
}

.yazilar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list1 a {
    text-decoration: none;
    color: yellowgreen;

}

.image1 h2{
    margin-top: 10px;
    font-size: 18px;
}

.image1 img{
    width: 60px;
    height: 60px;
}

.card2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.253);
    margin-bottom: 5%;
}

.yazilar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list2 a{
    text-decoration: none;
    color: yellowgreen;
}


.image2 h2 {
    margin-top: 10px;
    font-size: 18px;
}

.image2 img {
    width: 60px;
    height: 60px;
}


.card3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.253);
    margin-bottom: 5%;
}

.yazilar3{
display: flex;
flex-direction: column;
align-items: center;
}

.list3 a{
text-decoration: none;
color: yellowgreen;
}

.image3 h2{
margin-top: 10px;
font-size: 18px;
}

.image3 img{
    width: 60px;
    height: 60px;
}


.empty2 {
    height: 100%;
    width: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card4{
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #444;
    background-color: rgba(47, 70, 87, 0.709);
    margin-bottom: 5%;
}

.list4 li{
    color: yellowgreen;
}


.footer {
    height: 8%;
    width: 100%;
    background-color: rgba(58, 67, 73, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 {
    height: 100%;
    width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5%;
   margin-top: 1%;
}

.logo2 i{
font-size: 50px;
color: tomato;
}

.logo2 h1{
    color: aliceblue;
    font-family: "Playwrite MX"
}


.download{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.download a{
    color: yellowgreen;
    text-decoration: none;
    gap: 10%;
}


.customer{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer a{
color: aliceblue;
text-decoration: none;
}

.s_media{
    height: 100%;
    width: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.s_media a{
color: antiquewhite;
font-size: 20px;
}